.hidden{
	height:100%;
	width:100%;
	overflow: hidden;
}
/*banner部分*/
header{
	width:100%;
	height:420px;
	position:relative;
}
header section{
	width:100%;
	height:100%;
	position:relative;
}

header section .box{
	position:absolute;
	width:300px;
	height:5px;
	left:50%;
	bottom:30px;
	margin-left:-150px;
	z-index:2000;
}
header section .box .par{
	float:left;
	width:80px;
	height:100%;
	background:rgba(255,255,255,0.3);
	margin-left:10px;
}
header section .box .par div{
	width:0;
	height:100%;
	background:rgba(255,255,255,0.8);
}
header section .box .par div.active{
	animation: move 2s linear;
}
@keyframes move{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
header ul.img-box{
	height:100%;
	width:100%;
	z-index:2000;
	overflow: hidden;
	position:relative;
}
header ul.img-box li{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	overflow: hidden;
	text-align: center;
	display:none;
}
header ul.img-box li:nth-child(3){
	background:#F2F2F2;
}
header ul.img-box li:nth-child(2){
	background:#fff;
}
header ul.img-box li:nth-child(1){
	background:#0A0A0A;
}
.zIndex{
	z-index:1000;
}
header section .box .par div.visible{
	width:100%;
}
header ul.img-box li.active{
	display:block;
}
header ul.img-box li img{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	width:100%;
}
header ul.img-box li:first-of-type(1) h1,header ul.img-box li:first-of-type(1) h2{
	color:#fff;
}
header ul.img-box li:nth-of-type(2) img{
	/*height:100%;*/
}
header ul.img-box li.one{
	display:block;
}
header ul.img-box li.one img{
	animation: one 1s linear;
}
header ul.img-box li.two{
	display:block;
}
header ul.img-box li.two img{
	animation: two 1s linear;
}
header ul.img-box li.three {
	animation: three 1s linear;
	display:block;
}
header ul.img-box li.four {
	animation: four 1s linear forwards;
	display:block;
}
@keyframes one {
	0%{
		transform: translateX(0) scale(1);
	}
	100%{
		transform: translateX(-7%) scale(0.8);
	}
}
@keyframes two {
	0%{
		transform: translateX(-7%) scale(0.8);
	}
	100%{
		transform: translateX(0) scale(1);
	}
}
@keyframes three {
	0%{
		transform: translate3d(100%,0,0);
	}
	100%{
		transform: translate3d(0,0,0);
	}
}
@keyframes four {
	0%{
		transform: translate3d(0,0,0);
	}
	100%{
		transform: translate3d(100%,0,0);
	}
}
/*header ul.img-box li:first-child{*/
	/*background-image:url("../img/banner3.jpg");*/
	/*background-color:#f3f3f3;*/
	/*background-position:center center;*/
	/*background-size:auto 540px;*/
	/*background-repeat:no-repeat;*/
/*}*/
/*header ul.img-box li:nth-child(2){*/
	/*background-image:url("../img/banner1.jpg");*/
	/*background-color:#fff;*/
	/*background-position:center bottom;*/
	/*background-size:auto 70%;*/
	/*background-repeat:no-repeat;*/
/*}*/
/*header ul.img-box li:last-child{*/
	/*background-image:url("../img/banner2.jpg");*/
	/*background-color:#0A0A0A;*/
	/*background-position:center center;*/
	/*background-size:auto 540px;*/
	/*background-repeat:no-repeat;*/
/*}*/
header .home-page{
	display:block;
	width:100%;
	height:auto;
	position: absolute;
	left:0;
	top:44px;
	z-index:1;
	color:#fff;
	text-align: center;
}
header .home-page h1{
	font-size:30px;
	color:#000;
}

header .home-page h2{
	font-size:22px;
	color:#000;
}
header ul.img-box li:first-of-type .home-page h1,header ul.img-box li:first-of-type .home-page h2{
	color:#fff;
}
/*导航栏*/
nav.small_nav{
	width:100%;
	height:44px;
	background:#000;
	position: absolute;
	left:0;
	top:0;
	z-index:6000;
}

nav.small_nav .ul{
	width:90%;
	height:44px;
	margin:0 auto;
	line-height:44px;
	text-align:justify;
}
nav.small_nav .ul:after{
	display:inline-block;
	width:100%;
	content:"";
}
nav.small_nav ul{
	position:absolute;
	left:0;
	top:44px;
	width:100% ;
	height:600px;
	padding:0 35px;
	box-sizing: border-box;
	background:rgba(0,0,0,1);
	display:none;
}
nav.small_nav ul li{
	color:#fff;
	padding:10px 0;
	border-bottom:1px solid #333;
	opacity: 0;
	transform: scale(1.2);
}
nav.small_nav ul li.active{
	opacity: 1;
	transition: opacity .5s ease-out,transform .5s ease-out;
	transform:none;
}
nav.small_nav ul li:nth-child(1){
	transition-delay: 200ms;
}
nav.small_nav ul li:nth-child(2){
	transition-delay: 250ms;
}
nav.small_nav ul li:nth-child(3){
	transition-delay: 300ms;
}
nav.small_nav ul li:nth-child(4){
	transition-delay: 350ms;
}
nav.small_nav ul li:nth-child(5){
	transition-delay: 400ms;
}
nav.small_nav ul li:nth-child(6){
	transition-delay: 450ms;
}
nav.small_nav ul li:nth-child(7){
	transition-delay: 500ms;
}
nav.big_nav{
	display: none;
}
nav.small_nav .ul a{
	display:inline-block;
	color:#fff;
	font-size:14px;
}
nav.small_nav .ul a.icon{
	font-family: "iconfont";
	font-size:18px;
}
header a.btn{
	display:block;
	width:64px;
	height:64px;
	border-radius:50%;
	line-height:64px;
	text-align:center;
	font-size:40px;
	background:rgba(180,180,180,0.25);
    color: #848484;
	position: absolute;
	font-family:"宋体";
	opacity: 0;
	z-index:4000;
	top:50%;
	margin-top:-32px;
}
header a.btn:hover{
	opacity:1;
}
header a#leftbtn{
	left:0;
}
header a#rightbtn{
	right:0;
}
/*图片部分*/
.row li{
	width:100%;
}
.row li:nth-child(1) {
	background: url(../img/accessories_small.jpg) no-repeat center;
}
.row li:nth-child(2) {
	background: url(../img/airpods_small.jpg) no-repeat center;
}
.row li:nth-child(3) {
	background:url(../img/ipad_pro_small.jpg) no-repeat center;
}
.row li:nth-child(4) {
	background:url(../img/iphone_upgrade_small.jpg) no-repeat center;
}
/*底部*/
div.content{
	width:100%;
	height:auto;
	padding:0 22px;
	box-sizing: border-box;
}
div.content section.sosumi{
	width:100%;
	height:auto;
    border-bottom: 1px solid #d6d6d6;
    color: #888;
    padding:17px 0 11px;
    font-size:11px;
}
div.foot{
	width:100%;
	height:auto;
	margin:0 auto;
	/*overflow:hidden;*/
}
div.foot div{
	float:left;
	width:100%;
	height:auto;
	font-size:11px;
}
div.foot > div:first-child{
	margin-top:20px;
}
div.foot > div > div{
	border-bottom: 1px solid #d6d6d6;
}
div.foot > div > div h4{
	width:100%;
	height:37px;
	line-height:37px;

	color:#555;
	cursor: pointer;
}
div.foot > div > div h4 span{
	float:right;
	transform:rotate(0deg);
	transition: all .5s;
}
div.foot div h4 .active{
	transition: all .5s;
	border:0;
	transform:rotate(45deg);
}
div.foot > div > div > ul{
	width:100%;
	height:auto;
	display:none;
}
div.foot > div >div ul li{
	margin:10px;
}

div.content section.footer{
	width:100%;
	height:auto;
	padding-top:40px;
}
section.footer .foot-shop{
	width:100%;
	height:auto;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 5px;
	font-size:11px;
}
section.footer .foot-shop a{
	color:#0070c9;
}
div.foot-legal{
	width:100%;
	height:auto;
	margin-top:5px;
	font-size:11px;
}
div.foot-legal div{
	display:inline-block;
}
div.foot-legal .foot-legal-copyrighr{
	color:#888;
}

div.foot-legal div:nth-child(2) a{
	color:#000;
}
section.footer p{
	margin-top:10px;
	font-size:11px;
	color:#888;
}
